.btn {
  padding: 10px;
  border-radius: 10px;
  color: #ecdfcc;
  background-color: #3c3d37;
}

.btn:hover {
  background-color: #ecdfcc;
  color: #3c3d37;
  box-shadow: 3px 3px 3px 3px #3c3d37;
  transition: box-shadow 0.3s;
}

.btn a {
  color: #fefefe;
  text-decoration: none;
}
